.css-dynamic-sidebar {
    overflow: hidden;
    position: relative;
    height: 15em;
    margin: auto;
  
  }
  .site-content {
    margin: auto;
  }

  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100%;
    padding: 1em;
    background-color: blue;
    transform: translateX(1em);
    transition: 0.2s transform;

  }
  nav:hover
  nav:focus-within {
    transform: translateX(100%);
    
  }

  a {
    white-space: pre;
    color: black;
  }
  p {
    font-family: 2em;
    font-family: monospace;
    text-align: center; 
  }